@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body {
    background: #dadadd;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}

nav a:hover{
    border: 1px solid #fff;
    padding: 1px;
}

.nav-country{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-country h1{
    color: #fff;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4x 0 0 4px;
    cursor: pointer;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100px;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
     &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-text{
    margin-left: 15px;
     &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-text p{
    font-size: 10px;
}

.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
     &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-bottom h4{
    margin-left: 800px;
     &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-bottom p:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
}


.header-slider ul{
    display: flex;
    overflow-y: hidden;
}

.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.control_next{
    right: 0;
}

.txt-box{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.txt-box a{
    color: #007185;
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
}

.box-col p{
    font-size: 14px;
    color: #099;
    font-weight: 500;
    &:hover{
        color: #c45409;
    }
}

.products-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider .Products{
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .Products img{
    width: 200px;
    height: 180px;
}

.products-slider .Products::-webkit-scrollbar{
    display: none;
}

.products-slider-with-price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}

.products-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}

.products-card img{
    width: 110px;
    margin: 0 50px;
}

.product-offor p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offor span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}

.product-price{
    color: gray;
    font-size: 13px;
}

.product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}

.rhf-frame{
    background: #fff;
    width: 100%;
    height: 165px;
    justify-content: center;
    align-items: center;
}

.rhf-container{
    padding: 15px;
    align-items: center;
    height: 126px;
}

.rhf-border{
    margin-top: 15px;
    padding-top: 15px;
    height: 125.6px;
    border: 1px solid gray;
    border-radius: 2px;
}

.action p{
    padding-top: 30px;
    padding-bottom: 5px;
    margin-left: 45%;
    font-size: 12px;
    font-weight: 400;
}

.action button{
    background: #f6c501;
    border: 1px solid #f8b50c;
    border-radius: 3px;
    margin-left: 43%;
    padding: 5px;
    width: 240px;
    cursor: pointer;
    text-decoration: none;
}

.action .link{
    padding-top: 5px;
    margin-left: 47%;
}

.action .link span{
    color: #099;
}

.txt-top{
    background: #364759;
    line-height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.5px solid gray;
}

ul {
    margin-top: 10px;
}

ul p{
    font-size: 18px;
}

ul a{
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #dddddd;
    &:hover{
        text-decoration: underline;
    }
}

.foot-panel3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #222f3d;
    padding: 20px 60px;
    gap: 10px;
    height: 70px;
}
